{% extends 'homeBase.temp.htm' %}
{% load static %}



{% block links %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock links %}

{% block content %}
<div class="text-center">

    <section class="row mt-2 head" >
        <div class="col-sm-4">
            <h1 class="headText">wecode</h1>
        </div>
        <div class="img col-sm-8">
                <img src="https://wallpaperbro.com/img/54890.jpg" width="100%" height="100%">
        </div>    
    </section>

    <section class="row m-auto">

        <div class="card text-center m-auto col-md-3">
            <div class="card-body">
                <h4 class="card-title">Subjects</h4>
                <p class="card-text">
                    
                </p>
            </div>
        </div>
      
    </section>



</div>
{% endblock content %}